In [1]:
import pandas as pd
import numpy as np

# Loading the dataset crx.data

In [2]:
crx_data=pd.read_csv('crx.data',header=None)

In [4]:
#To check what the dataset looks like
print(crx_data)

    0      1       2  3  4   5   6     7  8  9   10 11 12     13   14 15
0    b  30.83   0.000  u  g   w   v  1.25  t  t   1  f  g  00202    0  +
1    a  58.67   4.460  u  g   q   h  3.04  t  t   6  f  g  00043  560  +
2    a  24.50   0.500  u  g   q   h  1.50  t  f   0  f  g  00280  824  +
3    b  27.83   1.540  u  g   w   v  3.75  t  t   5  t  g  00100    3  +
4    b  20.17   5.625  u  g   w   v  1.71  t  f   0  f  s  00120    0  +
..  ..    ...     ... .. ..  ..  ..   ... .. ..  .. .. ..    ...  ... ..
685  b  21.08  10.085  y  p   e   h  1.25  f  f   0  f  g  00260    0  -
686  a  22.67   0.750  u  g   c   v  2.00  f  t   2  t  g  00200  394  -
687  a  25.25  13.500  y  p  ff  ff  2.00  f  t   1  t  g  00200    1  -
688  b  17.92   0.205  u  g  aa   v  0.04  f  f   0  f  g  00280  750  -
689  b  35.00   3.375  u  g   c   h  8.29  f  f   0  t  g  00000    0  -

[690 rows x 16 columns]

# 1) Renaming the column names

In [6]:
colnames=['col'+str(s) for s in range(1,17)]

In [7]:
crx_data.columns=colnames

In [9]:
print(crx_data)

    col1   col2    col3 col4 col5 col6 col7  col8 col9 col10  col11 col12  \
0      b  30.83   0.000    u    g    w    v  1.25    t     t      1     f
1      a  58.67   4.460    u    g    q    h  3.04    t     t      6     f
2      a  24.50   0.500    u    g    q    h  1.50    t     f      0     f
3      b  27.83   1.540    u    g    w    v  3.75    t     t      5     t
4      b  20.17   5.625    u    g    w    v  1.71    t     f      0     f
..   ...    ...     ...  ...  ...  ...  ...   ...  ...   ...    ...   ...
685    b  21.08  10.085    y    p    e    h  1.25    f     f      0     f
686    a  22.67   0.750    u    g    c    v  2.00    f     t      2     t
687    a  25.25  13.500    y    p   ff   ff  2.00    f     t      1     t
688    b  17.92   0.205    u    g   aa    v  0.04    f     f      0     f
689    b  35.00   3.375    u    g    c    h  8.29    f     f      0     t

    col13  col14  col15 col16
0       g  00202      0     +
1       g  00043    560     +
2       g  00280    824     +
3       g  00100      3     +
4       s  00120      0     +
..    ...    ...    ...   ...
685     g  00260      0     -
686     g  00200    394     -
687     g  00200      1     -
688     g  00280    750     -
689     g  00000      0     -

[690 rows x 16 columns]

# 2) Displaying the last 10 rows of the data

In [10]:
crx_data.tail(10)

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,col11,col12,col13,col14,col15,col16
680,b,19.50,0.290,u,g,k,v,0.290,f,f,0,f,g,00280,364,-
681,b,27.83,1.000,y,p,d,h,3.000,f,f,0,f,g,00176,537,-
682,b,17.08,3.290,u,g,i,v,0.335,f,f,0,t,g,00140,2,-
683,b,36.42,0.750,y,p,d,v,0.585,f,f,0,f,g,00240,3,-
684,b,40.58,3.290,u,g,m,v,3.500,f,f,0,t,s,00400,0,-
685,b,21.08,10.085,y,p,e,h,1.250,f,f,0,f,g,00260,0,-
686,a,22.67,0.750,u,g,c,v,2.000,f,t,2,t,g,00200,394,-
687,a,25.25,13.500,y,p,ff,ff,2.000,f,t,1,t,g,00200,1,-
688,b,17.92,0.205,u,g,aa,v,0.040,f,f,0,f,g,00280,750,-
689,b,35.00,3.375,u,g,c,h,8.290,f,f,0,t,g,00000,0,-

# 3) Replacing all "?" with "NaN"

In [11]:
crx_data=crx_data.replace("?",np.nan)

# 4) Commenting on the data types of the variables

In [12]:
crx_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    678 non-null    object
 1   col2    678 non-null    object
 2   col3    690 non-null    float64
 3   col4    684 non-null    object
 4   col5    684 non-null    object
 5   col6    681 non-null    object
 6   col7    681 non-null    object
 7   col8    690 non-null    float64
 8   col9    690 non-null    object
 9   col10   690 non-null    object
 10  col11   690 non-null    int64
 11  col12   690 non-null    object
 12  col13   690 non-null    object
 13  col14   677 non-null    object
 14  col15   690 non-null    int64
 15  col16   690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.4+ KB

# 5) Replacing "+" with "P" and "-" with "N" in column 16

In [15]:
crx_data['col16']=crx_data['col16'].map({'+':'P', '-':'N'})

In [16]:
print(crx_data['col16'])

0      P
1      P
2      P
3      P
4      P
      ..
685    N
686    N
687    N
688    N
689    N
Name: col16, Length: 690, dtype: object

# 6) Displaying the number of variables of type 'Object'

In [25]:
c=0
for i in range(1,17):
    check='col'+str(i)
    if(crx_data[check].dtypes=='object'):
        print("Column ",i," has a data type of object.")
        c=c+1
print("Number of variables of type object: ",c)

Column  1  has a data type of object.
Column  2  has a data type of object.
Column  4  has a data type of object.
Column  5  has a data type of object.
Column  6  has a data type of object.
Column  7  has a data type of object.
Column  9  has a data type of object.
Column  10  has a data type of object.
Column  12  has a data type of object.
Column  13  has a data type of object.
Column  14  has a data type of object.
Column  16  has a data type of object.
Number of variables of type object:  12