# 1) Importing the required libraries

In [1]:
import pandas as pd
import numpy as np

# 2) Loading the dataset

In [4]:
data=pd.read_csv('student.csv', sep=";")

# 3) Peak at the data

In [5]:
data.head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

# 4) Implementing different kind of normalization techniques on columns G1, G2 and G3

# (i) Min-Max Normlization

In [8]:
#Range-> [0,1]
G1= (data['G1'] - data['G1'].min()) / (data['G1'].max() - data['G1'].min())
G2= (data['G2'] - data['G2'].min()) / (data['G2'].max() - data['G2'].min())
G3= (data['G3'] - data['G3'].min()) / (data['G3'].max() - data['G3'].min())

In [9]:
print(G1)
print(G2)
print(G3)

0      0.1250
1      0.1250
2      0.2500
3      0.7500
4      0.1875
        ...
390    0.3750
391    0.6875
392    0.4375
393    0.5000
394    0.3125
Name: G1, Length: 395, dtype: float64
0      0.315789
1      0.263158
2      0.421053
3      0.736842
4      0.526316
         ...
390    0.473684
391    0.842105
392    0.421053
393    0.631579
394    0.473684
Name: G2, Length: 395, dtype: float64
0      0.30
1      0.30
2      0.50
3      0.75
4      0.50
       ...
390    0.45
391    0.80
392    0.35
393    0.50
394    0.45
Name: G3, Length: 395, dtype: float64

# (ii) Z-score Normalization (Standardization)

In [14]:
#Transforms the data into a distribution with a mean of 0 and a standard deviation of 1.
G1= (data['G1'] - data['G1'].mean()) / (data['G1'].std())
G2= (data['G2'] - data['G2'].mean()) / (data['G2'].std())
G3= (data['G3'] - data['G3'].mean()) / (data['G3'].std())

In [15]:
print(G1)
print(G2)
print(G3)

0     -1.780209
1     -1.780209
2     -1.177653
3      1.232570
4     -1.478931
         ...
390   -0.575098
391    0.931292
392   -0.273820
393    0.027458
394   -0.876375
Name: G1, Length: 395, dtype: float64
0     -1.253202
1     -1.519053
2     -0.721500
3      0.873607
4     -0.189797
         ...
390   -0.455649
391    1.405309
392   -0.721500
393    0.341905
394   -0.455649
Name: G2, Length: 395, dtype: float64
0     -0.963712
1     -0.963712
2     -0.090624
3      1.000735
4     -0.090624
         ...
390   -0.308896
391    1.219007
392   -0.745440
393   -0.090624
394   -0.308896
Name: G3, Length: 395, dtype: float64

# (iii) Maximum Absolute Normalization

In [17]:
#Rescales the data between -1 and 1.
G1= (data['G1']) / (data['G1'].abs().max())
G2= (data['G2']) / (data['G2'].abs().max())
G3= (data['G3']) / (data['G3'].abs().max())

In [18]:
print(G1)
print(G2)
print(G3)

0      0.1250
1      0.1250
2      0.2500
3      0.7500
4      0.1875
        ...
390    0.3750
391    0.6875
392    0.4375
393    0.5000
394    0.3125
Name: G1, Length: 395, dtype: float64
0      0.315789
1      0.263158
2      0.421053
3      0.736842
4      0.526316
         ...
390    0.473684
391    0.842105
392    0.421053
393    0.631579
394    0.473684
Name: G2, Length: 395, dtype: float64
0      0.30
1      0.30
2      0.50
3      0.75
4      0.50
       ...
390    0.45
391    0.80
392    0.35
393    0.50
394    0.45
Name: G3, Length: 395, dtype: float64