In [1]:
import pandas as pd
import numpy as np

# Loading the dataset loan.csv

In [2]:
loan_data=pd.read_csv('loan.csv')

In [3]:
#To check what the dataset looks like
print(loan_data)

      customer_id  disbursed_amount  interest market     employment  \
0               0           23201.5   15.4840      C        Teacher
1               1            7425.0   11.2032      B     Accountant
2               2           11150.0    8.5100      A   Statistician
3               3            7600.0    5.8656      A          Other
4               4           31960.0   18.7392      E     Bus driver
...           ...               ...       ...    ...            ...
9995         9995           23750.0   11.0019      B  Civil Servant
9996         9996           11880.0   10.4923      B  Civil Servant
9997         9997           19950.0    8.4364      B     Accountant
9998         9998            4850.0   13.6409      C     Bus driver
9999         9999           25584.0   17.1456      D     Accountant

     time_employed householder    income date_issued  target  \
0        <=5 years        RENT   84600.0  2013-06-11       0
1        <=5 years       OWNER  102000.0  2014-05-08       0
2        <=5 years        RENT   69840.0  2013-10-26       0
3        <=5 years        RENT  100386.0  2015-08-20       0
4         >5 years        RENT   95040.0  2014-07-22       0
...            ...         ...       ...         ...     ...
9995     <=5 years    MORTGAGE   98000.0  2010-01-14       0
9996     <=5 years        RENT   36270.0  2015-03-20       0
9997      >5 years       OWNER   52250.0  2015-04-03       0
9998      >5 years        RENT   80040.0  2014-11-23       0
9999      >5 years    MORTGAGE   72000.0  2015-01-19       0

            loan_purpose  number_open_accounts date_last_payment  \
0     Debt consolidation                   4.0        2016-01-14
1           Car purchase                  13.0        2016-01-25
2     Debt consolidation                   8.0        2014-09-26
3     Debt consolidation                  20.0        2016-01-26
4     Debt consolidation                  14.0        2016-01-11
...                  ...                   ...               ...
9995               Other                  12.0        2010-11-03
9996  Debt consolidation                  17.0        2016-01-26
9997  Debt consolidation                   9.0        2015-12-12
9998  Debt consolidation                  26.0        2016-01-01
9999  Debt consolidation                   5.0        2016-01-16

      number_credit_lines_12
0                        NaN
1                        NaN
2                        NaN
3                        NaN
4                        NaN
...                      ...
9995                     NaN
9996                     NaN
9997                     NaN
9998                     NaN
9999                     NaN

[10000 rows x 14 columns]

# 1) Displaying the mean of 2 continuous variables

In [5]:
import statistics

In [6]:
disbursed_amount_avg=statistics.mean(loan_data['disbursed_amount'])
print("The mean of the continuous variable Disbursed Amount is: ",disbursed_amount_avg)

The mean of the continuous variable Disbursed Amount is:  14132.2755

In [8]:
interest_avg=statistics.mean(loan_data['interest'])
print("The mean of the continuous variable Interest is: ",interest_avg)

The mean of the continuous variable Interest is:  12.67881944

# 2) Displaying the number of Discrete Variables

In [10]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             10000 non-null  int64
 1   disbursed_amount        10000 non-null  float64
 2   interest                10000 non-null  float64
 3   market                  10000 non-null  object
 4   employment              9389 non-null   object
 5   time_employed           9471 non-null   object
 6   householder             10000 non-null  object
 7   income                  10000 non-null  float64
 8   date_issued             10000 non-null  object
 9   target                  10000 non-null  int64
 10  loan_purpose            10000 non-null  object
 11  number_open_accounts    10000 non-null  float64
 12  date_last_payment       10000 non-null  object
 13  number_credit_lines_12  238 non-null    float64
dtypes: float64(5), int64(2), object(7)
memory usage: 1.1+ MB

In [15]:
c=0
for i in loan_data.columns:
    if(loan_data[i].dtypes=='int64'):
        print("Column ",i," is a discrete variable")
        c=c+1
print("Number of discrete variables: ",c)

Column  customer_id  is a discrete variable
Column  target  is a discrete variable
Number of discrete variables:  2

# 3) Displaying unique values of 2 discrete variables

In [16]:
loan_data['customer_id'].unique()

array([   0,    1,    2, ..., 9997, 9998, 9999], dtype=int64)

In [17]:
loan_data['target'].unique()

array([0, 1], dtype=int64)

# 4) Displaying Month with most number of loans issued

In [19]:
loan_data['date_issued_dt']=pd.to_datetime(loan_data['date_issued'])

In [20]:
#A separate month column is created to just storte the month nos. of the loan issue dates
loan_data['month']=loan_data['date_issued_dt'].dt.month

In [21]:
loan_data.head()

,customer_id,disbursed_amount,interest,market,employment,time_employed,householder,income,date_issued,target,loan_purpose,number_open_accounts,date_last_payment,number_credit_lines_12,date_issued_dt,month
0,0,23201.5,15.4840,C,Teacher,<=5 years,RENT,84600.0,2013-06-11,0,Debt consolidation,4.0,2016-01-14,NaN,2013-06-11,6
1,1,7425.0,11.2032,B,Accountant,<=5 years,OWNER,102000.0,2014-05-08,0,Car purchase,13.0,2016-01-25,NaN,2014-05-08,5
2,2,11150.0,8.5100,A,Statistician,<=5 years,RENT,69840.0,2013-10-26,0,Debt consolidation,8.0,2014-09-26,NaN,2013-10-26,10
3,3,7600.0,5.8656,A,Other,<=5 years,RENT,100386.0,2015-08-20,0,Debt consolidation,20.0,2016-01-26,NaN,2015-08-20,8
4,4,31960.0,18.7392,E,Bus driver,>5 years,RENT,95040.0,2014-07-22,0,Debt consolidation,14.0,2016-01-11,NaN,2014-07-22,7

In [25]:
#Mapping the month numbers to the month names to print them efficiently
loan_data['month']=loan_data['month'].map({1:'January',2:'February',3:'March',4:'April',5:'May',6:'June',7:'July',8:'August',9:'September',10:'October',11:'November',12:'December'})

In [27]:
#Month with most number of loans issued
loan_data['month'].value_counts().index[0]

'October'

# 5) Displaying the count of Teachers who are also Owners

In [34]:
len(loan_data[(loan_data['employment']=='Teacher') & (loan_data['householder']=='OWNER')])

69

# 6) Displaying the Employment of people who stay on Rent

In [38]:
print(loan_data[loan_data["householder"]=="RENT"]["employment"].value_counts().index.values)

['Civil Servant' 'Teacher' 'Bus driver' 'Nurse' 'Dentist' 'Secretary'
 'Other' 'Statistician' 'Accountant' 'Taxi driver' 'Software developer']