# 1) Importing the required libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt

# 2) Reading the training and the test data into respective variables

In [3]:
train=pd.read_csv('trainT.csv')
test=pd.read_csv('testT.csv')

# 3) Take a peak at the data

In [4]:
train.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
test.head(5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

# 4) Determining the variables

In [6]:
df=train[['Survived','Pclass','Sex','Age','Fare']]

# 5) Variable Engineering

In [7]:
#(i)Encoding Gender values to 0 and 1
df['Sex']=df['Sex'].apply(lambda sex:1 if sex=="male" else 0)

C:\Users\SanJoi\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
#(ii)Handling Missing Values
df["Age"]=df["Age"].fillna(df["Age"].median()) #Median is robust to outliers

C:\Users\SanJoi\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

# 6) Set the Predictor (X) and Response (Y) Variables

In [9]:
X=df.drop("Survived",axis=1)
Y=df["Survived"]

# 7) Split the data into training and test datasets

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,test_size=0.3,random_state=25)

# 8) Defining a function that can help us calculate the Confusion Matrix, Accuracy Scores and obtaining the Classification Report for both Logistic Regression and Naive Bayes classification Models

In [19]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
def deduction(Y_test,Y_pred):
    #1) Coputing the confusion matrix to obtain the accuracy of our model
    print("Confusion Matrix:")
    conf_mat=confusion_matrix(Y_test,Y_pred)
    print(conf_mat)
    #2) Computing the accuracy score, i.e., the similarity between Y and Ŷ values
    print("Accuracy Score:")
    acc_score=accuracy_score(Y_test,Y_pred)
    print(acc_score)
    #3) obtaining the Classification Report to check how good our model is
    print("Classification Report:")
    report=classification_report(Y_test,Y_pred)
    print(report)

# Logistic Regression Model

In [20]:
from sklearn.linear_model import LogisticRegression
#1) Estimating the parameters and training the model using the fit() function
logit=LogisticRegression()
logit.fit(X_train,Y_train)
#2) Predicting Ŷ values
Y_pred=logit.predict(X_test)
#3) Getting the Accuracy Report for the model
print("Accuracy Report for Logistic Regression Model:\n")
deduction(Y_test,Y_pred)

Accuracy Report for Logistic Regression Model:

Confusion Matrix:
[[136  29]
 [ 31  72]]
Accuracy Score:
0.7761194029850746
Classification Report:
              precision    recall  f1-score   support

           0       0.81      0.82      0.82       165
           1       0.71      0.70      0.71       103

    accuracy                           0.78       268
   macro avg       0.76      0.76      0.76       268
weighted avg       0.78      0.78      0.78       268

# Naive Bayes Classification Model

In [22]:
from sklearn.naive_bayes import GaussianNB
#1) Estimating the parameters and training the model using the fit() function
gauss=GaussianNB()
gauss.fit(X_train,Y_train)
#2) Predicting Ŷ values
Y_pred=gauss.predict(X_test)
#3) Getting the Accuracy Report for the model
print("Accuracy Report for Naive Bayes Classification Model:\n")
deduction(Y_test,Y_pred)

Accuracy Report for Naive Bayes Classification Model:

Confusion Matrix:
[[130  35]
 [ 27  76]]
Accuracy Score:
0.7686567164179104
Classification Report:
              precision    recall  f1-score   support

           0       0.83      0.79      0.81       165
           1       0.68      0.74      0.71       103

    accuracy                           0.77       268
   macro avg       0.76      0.76      0.76       268
weighted avg       0.77      0.77      0.77       268